<form #contactoForm="ngForm" (ngSubmit)="notificarContacto(contactoForm)" novalidate>
    <!--nombre-->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" ngModel #nombreRef="ngModel" placeholder="Ej.Tim" required minlength="2">
            <div class="mensaje-error" *ngIf="nombreRef.touched && nombreRef.errors?.required">
                El campo nombre es requerido
            </div>
            <div class="mensaje-error" *ngIf="nombreRef.touched && nombreRef.errors?.minlength">
                El campo nombre debe tener al menos {{nombreRef.errors.minlength.requiredLength}} letras
            </div>
        </div>
    </div>
    <!--apellidos-->
    <div>
        <div class="offset-by-three six columns">
            <label for="apellidos"> Apellidos </label>
            <input type="text" id="apellidos" class="u-full-width" name="apellidos" #apellidosRef="ngModel" ngModel placeholder="Ej.Cook" required minlength="2">
        </div>
        <div class="mensaje-error" *ngIf="apellidosRef.touched && apellidosRef.errors?.required">
            El apellido es requerido
        </div>
        <div class="mensaje-error" *ngIf="apellidosRef.touched && apellidosRef.errors?.minlength">
            El campo apellidos debe tener al menos {{apellidosRef.errors.minlength.requiredLength}} letras
        </div>
    </div>
    <!--email-->
    <div>
        <div class="offset-by-three six columns">
            <label for="email"> email </label>
            <input type="text" id="email" class="u-full-width" name="email" ngModel placeholder="Ej.g@Cook.es">
        </div>
    </div>
    <!--telefono-->
    <div>
        <div class="offset-by-three six columns">
            <label for="telefono"> telefono </label>
            <input type="text" id="telefono" class="u-full-width" name="telefono" ngModel placeholder="992938298">
        </div>
    </div>
    <!--facebook-->
    <div>
        <div class="offset-by-three six columns">
            <label for="facebook"> facebook </label>
            <input type="text" id="facebook" class="u-full-width" name="facebook" ngModel placeholder="Ej.dd">
        </div>
    </div>

    <!--twitter-->
    <div>
        <div class="offset-by-three six columns">
            <label for="twitter"> twitter </label>
            <input type="text" id="twitter" class="u-full-width" name="twitter" ngModel placeholder="Ej.dd">
        </div>
    </div>
    <div class="offset-by-three six columns">


        <!--guardar contacto-->
        <button type="submit" class="button-primary" [disabled]="contactoForm.invalid">Guardar </button>
    </div>
</form>