<div class="u-full-width" *ngIf="contacto">
    <!-- con la ditrectiva *ngIf escribimos o no todo el elemento en el DOM, en la funcion de una expresiom-->

    <img [src]="contacto?.avatar">
    <!-- Nombre del contacto -->
    <h5>{{ contacto.nombre }} {{ contacto?.apellidos}}</h5>
    <hr>

    <button type="button" (click)="notificarFacebook()" class="boton-red-social">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
      
  </button>

    <button type="button" (click)="notificarTwitter()" class="boton-red-social">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
      
  </button>

    <!-- Correo del contacto -->
    <span>{{ contacto.email }}</span>

    <!-- Telefono del contacto -->
    <span>{{ contacto.telefono }}</span>

    <!--Boton de eliminar contacto-->
    <button type="button" (click)="notificarEliminacion()" class="u-full-witdh">Eliminar</button>
</div>