ul {
    list-style: none;
    border-bottom: 1px solid blue;
    padding-bottom: 1px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    border: 1px solid blue;
    padding: 13px 20px;
}

a.seleccionado {
    border-bottom: 1px solid white
}