<!--<ejemplos-binding></ejemplos-binding>-->
<!--<ejemplos-componentes></ejemplos-componentes>-->
<!--<ejemplos-inyeccion></ejemplos-inyeccion>-->

<div class="container">

    <!-- Titulo -->
    <header>
        <h1>Mi agenda</h1>
    </header>

    <nav>
        <ul>
            <li><a routerLink="/mis-contactos" routerLinkACctive="seleccionado">Mis contactos
            </a></li>
            <li><a routerLink="/nuevo-contacto">Nuevo contacto</a></li>
        </ul>
    </nav>

    <!--zona dinamixa de pagina de la aplicacionn-->
    <router-outlet> </router-outlet>





</div>